# Ignore virtual environment folder
venv/
env/
pyvenv/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore specific folders
Include/
Program/
Scripts/
Lib/
Data/

# Ignore pickle  files
.pkl

# Ignore csv files
train_processed.csv
test_processed.csv
feature_importance_full.csv
optimization_results.csv
best_hyperparameters.csv

# Ignore optimized model
intrusion_detection_model_optimized.pkl

# Ignore generated visualization files
*.png
