# Ignore virtual environment folder
venv/
env/
pyvenv/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore specific folders
Include/
Program/
Scripts/
Lib/
Data/

# Ignore pickle  files
.pkl

# Ignore csv files
train_processed.csv
test_processed.csv
feature_importance_full.csv

# Ignore generated visualization files
*.png
